USE [master]
GO
/****** Object:  Database [Importador]    Script Date: 26/01/2021 11:19:58 ******/
CREATE DATABASE [Importador]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Importador', FILENAME = N'C:\Users\jldr\Importador.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Importador_log', FILENAME = N'C:\Users\jldr\Importador_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Importador].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Importador]
GO
USE [Importador]
GO
/****** Object:  Table [dbo].[Importacao]    Script Date: 26/01/2021 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importacao](
	[ImportacaoId] [int] IDENTITY(1,1) NOT NULL,
	[TotalItens] [int] NOT NULL,
	[ValorTotal] [decimal](15, 2) NOT NULL,
	[DataImportacao] [date] NOT NULL,
 CONSTRAINT [PK_Importacao] PRIMARY KEY CLUSTERED 
(
	[ImportacaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemImportacao]    Script Date: 26/01/2021 11:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemImportacao](
	[ItemImportacaoId] [int] IDENTITY(1,1) NOT NULL,
	[ImportacaoId] [int] NOT NULL,
	[DataEntrega] [date] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[ValorUnitario] [decimal](15, 2) NOT NULL,
	[NomeProduto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ItemImportacao] PRIMARY KEY CLUSTERED 
(
	[ItemImportacaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemImportacao]  WITH CHECK ADD  CONSTRAINT [FK_Importacao_ImportacaoId_ItemImportacao_ImportacaoId] FOREIGN KEY([ImportacaoId])
REFERENCES [dbo].[Importacao] ([ImportacaoId])
GO
ALTER TABLE [dbo].[ItemImportacao] CHECK CONSTRAINT [FK_Importacao_ImportacaoId_ItemImportacao_ImportacaoId]
GO
USE [master]
GO
